<body>

    <main class="content">
        <section class="intro">
            <!-- <img src="assets/logo.png" alt="Logo"> -->
            <h1>alphastocks.pro | Beta </h1>
            <!-- <h2><span #typingElement id="typing"></span></h2> -->
            <p>Explore the power of sentiment analysis and technical analysis bots. Our platform helps you stay informed
                about stocks, make long-term investment decisions, and understand market sentiment.</p>
                <button class="button button-primary mt-3" (click)="navigateToDocs()">Documentation</button>
        </section>


        <section class="info-cards">
            <h3>Our Services</h3>
            <ol>
                
                <li style="--accent-color: #6A829A">

                    <div class="title">Data Gathering</div>
                    <hr class="mb-2">
                    <div class="descr">Our bots collect extensive data from various sources, including historical stock
                        prices and news articles</div>
                </li>

                <li style="--accent-color: #FF6F00">

                    <div class="title">Advanced Analysis</div>
                    <hr class="mb-2">
                    <div class="descr">Using complex algorithms, they analyze this data to identify patterns, trends,
                        and potential investment opportunities.</div>
                </li>
                <li style="--accent-color: #008DC2">

                    <div class="title">Customization</div>
                    <hr class="mb-2">
                    <div class="descr">Users can tailor the bot's analysis by adjusting parameters like Moving Averages
                        and MACD to suit their investment strategies</div>
                </li>
                <li style="--accent-color: #0B456A">

                    <div class="title ">Coverage</div>
                    <hr class="mb-2">
                    <div class="descr">Our bots perform these analyses on over 300 companies listed on NSE, offering
                        users a curated list of stocks aligned with their preferences.
                    </div>
                </li>

            </ol>
        </section>




        <section class="chat">
            <app-sentiment-analysis></app-sentiment-analysis>
        </section>




        <!-- <section class="tick-marks-section">
                <div class="tick-mark">✔️ Easy News Reading</div>
                <div class="tick-mark">✔️ Smart Investment Help</div>
                <div class="tick-mark">✔️ Simpler Understanding</div>
            </section> -->



        <section class="cards-wrapper">
            <div class="card-grid-space">

                <a class="card" style="--bg-img: url('assets/ai.png')">
                    <div>
                        <h1>Sentiment Analysis</h1>
                        <p>Our sentiment analysis engine categorizes news articles as positive, negative, or neutral,
                            helping
                            you gauge market sentiment around stocks.</p>


                    </div>
                </a>
            </div>
            <div class="card-grid-space">

                <a class="card" style="--bg-img: url('assets/News-analysis.jpg')">
                    <div>
                        <h1>Live News Insights</h1>
                        <p>Stay ahead with real-time news analysis and market insights. Chat with our news bot for
                            instant updates
                            and smarter investment decisions</p>

                    </div>
                </a>
            </div>
            <div class="card-grid-space">

                <a class="card" style="--bg-img: url('assets/technical-analysis.jpg')">
                    <div>
                        <h1>Technical Analysis</h1>
                        <p>We perform technical analysis on stocks, identifying trends and patterns that aid in making
                            informed
                            investment decisions.</p>
                    </div>
                </a>
            </div>
            <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
        </section>
    </main>

</body>