<div class="container">


    <main class="content">
        <section class="intro">
            <h1>AlphaStocks: <span #typingElement id="typing"></span></h1>
            <p>Explore the power of sentiment analysis and technical analysis bots. Our platform helps you stay informed
                about stocks, make long-term investment decisions, and understand market sentiment.</p>
        </section>

        <section class="tick-marks-section">
            <div class="tick-mark">✔️ Easy News Reading</div>
            <div class="tick-mark">✔️ Smart Investment Help</div>
            <div class="tick-mark">✔️ Simpler Understanding</div>
        </section>

        <section class="features">

            <div class="feature">
                <img src="assets/ai.png" alt="Sentiment Analysis">
                <h2>Sentiment Analysis</h2>
                <p>Our sentiment analysis engine categorizes news articles as positive, negative, or neutral, helping
                    you gauge market sentiment around stocks.</p>
            </div>
            <div class="feature">
                <img src="assets/News-analysis.jpg" alt="Technical Analysis">
                <h2>Live News Insights</h2>
                <p>Stay ahead with real-time news analysis and market insights. Chat with our news bot for instant updates
                    and smarter investment decisions.</p>
            </div>
            <div class="feature">
                <img src="assets/technical-analysis.jpg" alt="Technical Analysis">
                <h2>Technical Analysis</h2>
                <p>We perform technical analysis on stocks, identifying trends and patterns that aid in making informed
                    investment decisions.</p>
            </div>
            
        </section>

        
    </main>
</div>