<div class="dashboard-container">

    <div class="loading-container" *ngIf="isLoading">
        <h3>Let our bots do the heavy lifting while you relax</h3>
        <div class="loading-overlay"></div>
        <div class="loading-spinner"></div>

    </div>

    <h1>Volatility Bot</h1>
    <p> <span>Discover the volatility of NSE stocks from over 300 companies, customized to your chosen time frame</span> </p>

    <div class="dashboard-content">

        <div class="parameter-section">
            <h2>Set Parameters</h2>

            <div class="parameter-group" *ngIf="showingMaData">
                <h3>Volatility Bot</h3>
                <form>
                    <div class="form-group">
                        <label for="length">Period:</label>
                        <input type="number" id="period" name="period" [(ngModel)]="period">
                    </div>
                </form>
            </div>



            <!-- Candlestick Timeframe -->
            <div class="parameter-group">
                <h3>Candlestick Timeframe</h3>
                <form>
                    <div class="form-group">
                        <label for="timeframe">Select Timeframe:</label>
                        <select id="timeframe" name="timeframe" [(ngModel)]="selectedTimeframe">
                            <option value="15m">15 mins</option>
                            <option value="30m">30 mins</option>
                            <option value="1h">1 Hour</option>
                            <option value="1d">1 Day</option>
                            <option value="1wk">1 Week</option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="submit-buttons">
                <button class="button" (click)="setDefaultValues()">DEFAULT VALUES</button>
                <button class="button button-primary" (click)="runBot()">RUN</button>
            </div>

        </div>

        <div class="results-section">

            <div class="tab-buttons">
                <div class="left-buttons">
                    <app-tab [pageName]="localStorageKey" (currentTab)="onTabChanged($event)"
                        (tabDataChanged)="onTabDataChanged($event)"></app-tab>
                </div>
                <button class="button filter-button" (click)="showFilterPopup()">Filters</button>
            </div>

            <!-- Create a hidden filter popup -->
            <div class="filter-popup" *ngIf="showFilter">
                <h3 class="mb-3 mt-2">Filter Options : </h3>
                <label>
                    <input type="checkbox" [(ngModel)]="filterOptions.volumeIncreasing"> Filter stocks with consistent
                    volume growth over the past 3 days
                </label>
                <label>
                    <input type="checkbox" [(ngModel)]="filterOptions.todayVolumeGreaterThanAvg"> Filter stocks with
                    today's volume exceeding the one-week average
                </label>
                <label>
                    <input type="checkbox" [(ngModel)]="filterOptions.priceIncreasing"> Filter stocks with consistent
                    price growth over the past 3 days
                </label>
                <div class="filter-buttons">
                    <button class="button" (click)="closeFilterPopup()">Close</button>
                    <button class="button button-primary" (click)="applyFilters()">Submit</button>
                </div>
            </div>

            <hr class="tab-hr">

            <h2>{{ resultMessage }}</h2>

            <table>
                <thead>
                    <tr>
                        <th>Stock Name</th>
                        <th>Current Price</th>
                        <th>% Change <span *ngIf="selectedTimeframe == '1wk'">( Weekly )</span><span
                                *ngIf="selectedTimeframe == '1d'">( Daily )</span></th>
                        <th>Volatility</th>
                        <th>Volume- 3 days</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let stock of displayedStockData; let i = index">
                        <td>{{ stock.symbol }}</td>
                        <td>{{ stock.price.today | number:'1.0-0' }}

                        </td>
                        <td [ngStyle]="{'color': getPercentageChangeColor(stock.price.today, stock.price.oneDayPrior)}">
                            {{ calculatePercentageChange(stock.price.today, stock.price.oneDayPrior) }}
                        </td>

                        <td>
                            {{stock.volatile.value | oneDecimalPlace}}% <span *ngIf="stock.volatile.value < 1">Low</span>
                            <span *ngIf="stock.volatile.value < 2 && stock.volatile.value > 1 ">Moderate</span>
                            <span *ngIf="stock.volatile.value > 2">High</span>
                        </td>
                        <td>
                            <div class="bar-chart">
                                <app-bar-chart
                                    [chartData]="[stock.volume.twoDayPrior, stock.volume.oneDayPrior, stock.volume.today]"
                                    [chartLabels]="['', '', '']"></app-bar-chart>
                            </div>
                        </td>
                    </tr>

                    <tr class="d-none">
                        <td>IGL</td>
                        <td>482

                        </td>
                        <td>
                            2.4%
                        </td>
                        <td>
                            <div class="bar-chart">
                                <app-bar-chart [chartData]="[10,38, 20]" [chartLabels]="['', '', '']"></app-bar-chart>
                            </div>
                        </td>
                    </tr>

                    <tr class="d-none">
                        <td>TCS</td>
                        <td>4820

                        </td>
                        <td>
                            -2.2%
                        </td>
                        <td>
                            <div class="bar-chart">
                                <app-bar-chart [chartData]="[10,58, 19]" [chartLabels]="['', '', '']"></app-bar-chart>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="pagination">
                <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
                <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
            </div>
        </div>
    </div>
</div>