.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0; /* Set a background color for the entire page */
    height: 100vh;
  }
  
  .chat-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    align-self: center; /* Horizontally center the chat container */
    margin: 8% 10%;
    width: 120vh;
    //margin-top: 20%; /* Push the chat container to the bottom */
  }
  
  .chat-messages {
    overflow-y: auto;
    max-height: 55vh;

  }
  
  .user-input {
    display: flex;
    align-items: center;
    margin-top: 10px;
  
    input {
      flex-grow: 1;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 8px;
    }
  
    button {
      background-color: #325B51;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 8px 16px;
      cursor: pointer;
    }
  }
  
  /* Define CSS classes for user and bot messages */
  .user {
    background-color: #a6b4bd;
    color: white;
    text-align: left;
    margin-top: 15px;
    margin-left: 10%;
    text-decoration: solid;
    padding: 6px;
  }
  
  .bot {
    background-color: #93beb3;
    text-decoration: solid;
    color: white;
    text-align: left;
    margin-top: 15px;
    margin-right: 10%;
    padding: 6px;
  }
  