.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f2f2f2;
    margin-top: -16px;
    color: #325B51;

    h1 {
        font-size: 40px;
        margin-top: 80px;
        text-align: center;
    }

    p {
        text-align: center;
        font-size: 20px;
        margin-bottom: 80px;
    }

    .dashboard-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 1340px;

        margin: 0 auto;
    }

    .dashboard-card {
        background-color: #fff;
        padding: 20px;
        margin: 3px;
        text-align: center;
        width: 210px;
        height: 210px;
        transition: transform 0.1s; /* Add a smooth transition effect */
        cursor: pointer;

    }
    .dashboard-card:hover {
        transform: scale(1.1); /* Scale the card by 10% on hover */
      }

    .card-rect {
        width: 420px;
        padding: 20px 50px;
        
    }

    .card-theme-primary {
        background-color: #f5f5f5;
    }

    .card-theme-secondary {
        background-color: #e5dcdc;
    }

    .tile-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        div{
            font-size: 12px;
            padding: 2px 8px;
            color: #0f0909;
            margin-top: -7px;
            background-color: #f4eeee4d;
        }
    }

    .tile-content h2 {
        font-size: 21px;
    }

    .tile-content p {
        font-size: 17px;
        color: #666;
        margin-top: 8px
    }


    .slide-in {
        transform: translateX(100%); /* Initial position: slide from the right */
      }


    /* Center the loading container */
    .loading-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        /* Ensure it's above other content */

        h3 {
            color: white;
            text-decoration: solid;
            padding: 0px 1em;
            z-index: 9999;

        }
    }

    /* Create a semi-transparent background overlay */
    .loading-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        /* Adjust the opacity as needed */
    }

    /* Create a spinning loader */
    .loading-spinner {
        border: 6px solid #f3f3f3;
        border-top: 6px solid #959fa6;
        /* Change the loader color here */
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
    }

    

    /* Add a simple spin animation */
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }


      



}



/* Small screens (mobile devices) */
@media screen and (max-width: 767px) {
    .dashboard-container {

        .dashboard-content{
            display: inline;

        }
        h1 {
            font-size: 30px;
            margin-top: 60px;
        }

        p {
            font-size: 16px;
            margin-bottom: 40px;
        }

        .card-rect{
            width: 22.8rem;
            height: 10rem;
        }

        .dashboard-card {
            width: 22.8rem;
            height: 10rem;

        }


    }


    .loading-container {
        display: flex;
        flex-direction: column;

        h3 {
            text-align: center;
            margin-bottom: 30px;
        }

    }



}