<div class="dashboard-container">

    <div class="loading-container" *ngIf="isLoading">
        <h3>Let our bots do the heavy lifting while you relax</h3>
        <div class="loading-overlay"></div>
        <div class="loading-spinner"></div>

    </div>

    <h1>Master Dashboard</h1>
    <p> <span #typingElement id="typing"></span> </p>



    <div class="dashboard-content mb-4 pb-4">
        <div class="dashboard-card tile card-rect card-theme-primary ">
            <div class="tile-content" [routerLink]="['/dashboard/momentum', 0]" >
                <h2><b>MA Tracker</b></h2>
                <p>Fine-tune settings and discover stocks showing recent MA crossovers</p>
            </div>
        </div>

        <div class="dashboard-card tile ">
            <div class="tile-content" (click)="navigateToResistance()">
                <h2><b>Resistance Zone</b></h2>
                <p>Discover NSE stocks exceeding resistance</p>
            </div>
        </div>
        <div class="dashboard-card tile ">
            <div class="tile-content" [routerLink]="['/dashboard/momentum', 1]" >
                <h2><b>MACD Tracker</b></h2>
                <p>Fine-tune settings and discover stocks showing recent MACD crossovers</p>
            </div>
        </div>

        <div class="dashboard-card  tile card-rect card-theme-secondary">
            <div class="tile-content">
                <h2><b>AI Analysis</b></h2>
                <div>In Progress</div>
                <p> Enter Stock Name for Latest News, Sentiment Analysis, and AI Insights, Powered by Our Advanced Bots.</p>
            </div>
        </div>
        <div class="dashboard-card tile card-rect ">
            <div class="tile-content" (click)="navigateToBollinger()">
                <h2><b>Bollinger Bands</b></h2>
                <p>Monitors volatility using Bollinger Bands to predict potential price breakouts.</p>
            </div>
        </div>

        <div class="dashboard-card tile card-theme-secondary">
            <div class="tile-content">
                <h2><b>Stochastic Bots</b></h2>
                <div>In Progress</div>

                <p>Detects overbought/oversold conditions and trend reversals.</p>
            </div>
        </div>
        <div class="dashboard-card tile">
            <div class="tile-content">
                <h2><b>ADX Bot</b></h2>
                <div>In Progress</div>

                <p>Measures trend strength for trend-following strategies</p>
            </div>
        </div>

        <div class="dashboard-card tile card-theme-primary">
            <div class="tile-content">
                <h2><b>Candlestick Bot</b></h2>
                <div>In Progress</div>

                <p>Recognizes candlestick patterns like doji, and hammers for trend reversal signals.</p>
            </div>
        </div>

        <div class="dashboard-card tile ">
            <div class="tile-content">
                <h2><b>Volatility Bot</b></h2>
                <div>In Progress</div>

                <p>Pinpoints highly volatile stocks, crucial for day trading or options strategies.</p>
            </div>
        </div>

        <div class="dashboard-card tile card-rect card-theme-primary">
            <div class="tile-content">
                <h2><b>Seasonality Bot</b></h2>
                <div>In Progress</div>

                <p>Identify seasonal patterns in stock prices based on historical trends during specific times.</p>
            </div>
        </div>

        <div class="dashboard-card tile card-rect card-theme-primary">
            <div class="tile-content">
                <h2><b>News Analysis</b></h2>
                <div>In Progress</div>

                <p>Discover corporis tempora vero est ipsa quod facere. Ut, eaque ab? Stocks</p>
            </div>
        </div>

        <div class="dashboard-card tile">
            <div class="tile-content">
                <h2><b>RSI Bot</b></h2>
                <div>In Progress</div>

                <p>Identifies overbought and oversold conditions.</p>
            </div>
        </div>

        <div class="dashboard-card tile card-theme-secondary">
            <div class="tile-content">
                <h2><b>Volume Analysis</b></h2>
                <div>In Progress</div>

                <p>This bot can analyze trading volume to identify unusual volume spikes</p>
            </div>
        </div>
    </div>
</div>