<link href='https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>

<section style="background: #e74c3c; color: #fff;">
  <nav class="stroke">

    <ul>
       <!-- <li><img src="assets/logo.png" alt="Logo"></li>  -->

        <li><a (click)="navigateToHome()">Home</a></li>
        <li><a (click)="navigateToTechnical()">Technical</a></li>
        <!-- <li><a (click)="navigateToNews()">News</a></li> -->
        <li><a (click)="navigateToChat()">Chat</a></li>
    </ul>
  </nav>
</section>
